/*****GENERELT***/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  position: relative;
  background-color: #000000;
}
/**FONTSIZES AND COLORS**/
h1 {
  font-family: "transducer-extended", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 4cqw;
  color: white;
  text-transform: uppercase;
}

h2 {
  font-family: "transducer", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2cqw;
  color: white;
}

h3 {
  font-family: "transducer", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2cqw;
  color: white;
}

#menu li a {
  font-family: "transducer-extended", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.7cqw;
  color: white;
  text-transform: uppercase;
}

.footerindhold {
  font-size: 1.7cqw;
  color: white;
  text-transform: uppercase;
}

.bund {
  font-size: 2cqw;
  color: white;
}

/**FORSIDE PLACEMENT**/

.exhibits_grid {
  margin: 6.5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.exhibits_grid article:nth-child(2) {
  grid-column: span 2;
}

.exhibits_grid article:nth-child(3) {
  grid-row: span 2;
}
.exhibits_grid article {
  transition: 0.7s ease;
}
.exhibits_grid article:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: 0.7s ease;
}

.exhibits_grid article:nth-child(4) {
  grid-column: span 2;
}

.exhibits_grid article:nth-child(7) {
  grid-column: span 2;
}
.exhibits_grid article:nth-child(8) {
  grid-row: span 2;
}
.exhibits_grid article:nth-child(9) {
  grid-column: span 2;
}

/**SOME PLACEMENT**/
#some_grid {
  position: fixed;
  right: 2%;
  top: 67%;
  z-index: 1000;
}
@media (max-width: 700px) {
  #some_grid {
    position: fixed;
    right: 2%;
    top: 75%;
  }
}

/***PROGRAM PÅ FORSIDEN ***/
/***PROGRAM OVER OBS TOM***/
.program {
  margin-top: 7%;
  z-index: 1002;
  font-family: "transducer-extended", sans-serif;
  font-weight: 900;
  font-style: normal;
}
/****PROGRAM TEXT*****/
#for_text_div {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

#for_text {
  width: 80%;
  text-align: center;
}
@media (max-width: 700px) {
  #for_text_div {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
  }

  #for_text {
    width: 100%;
    text-align: center;
  }
}

/*****PROGRAM BTN***/
#program_knap a {
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-left: 48%;
  gap: 3%;
  margin-top: 15%;
}

#program_knap img {
  width: 76%;
  grid-column: 2;
}
#program_knap_text {
  grid-column: 1;
}

/***LISTE VIEW PROGRAM OVER******/
.luft {
  height: 100px;
}

@media (max-width: 700px) {
  .luft {
    height: 80px;
  }
}
