* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  position: relative;
  background-color: #000000;
}

h1 {
  font-family: "transducer-extended", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 3cqw;
}

h2 {
  font-family: "transducer-extended", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1cqw;
}
