---
import Some from "../components/Some.astro";
import Mainlayout from "../layout/Mainlayout.astro";
import Programover from "../components/Programover.astro";


---

<Mainlayout>
		<main>
			<Some/>
			<Programover/>
			<div id="for_text_div">
				<h2 id="for_text">Copenhagen Light Festival is an annual light festival that transforms the quiet and cold winter darkness into a unique celebration of light art, lighting design and illumination in the center of Copenhagen. </h2>
			</div>

			<div id="program_knap">
				<a href="listeview.astro"> 
					<h1 id="program_knap_text">PROGRAM</h1>
					<img src="../../src/imgs/forward_btn.svg" alt="programknap">
				</a>
			</div>

		</main>
	</Mainlayout>
