---
import Startcard from "../components/Startcard.astro";
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<!-- her starter layouts <slot> -->
	<div class="front">
		<p>Video her</p>
		<h1>ANIMERET OVERSKRIFT (SKULLE NOK VÆRE EN COMPONENT)</h1>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia aut assumenda, nulla voluptas nesciunt consequuntur dignissimos eaque vero fugit sunt dolorem quia ea esse beatae sapiente, dicta quasi earum at.</p>
		<div class="exhibits_grid">
			<Startcard header="Hej Verden" text="Lorem ipsum" picture="/udstilling.jpeg"/>
			<Startcard header="Hej Verden" text="Lorem ipsum" picture="/udstilling.jpeg"/>
			<Startcard header="Hej Verden" text="Lorem ipsum" picture="/udstilling.jpeg"/>
			<Startcard header="Hej Verden" text="Lorem ipsum" picture="/udstilling.jpeg"/>
			<Startcard header="Hej Verden" text="Lorem ipsum" picture="/udstilling.jpeg"/>
			<Startcard header="Hej Verden" text="Lorem ipsum" picture="/udstilling.jpeg"/>
	</div>
		</div>
		<!-- her slutter layouts <slot> -->
</Layout>			
		
<style>


</style>