---
import Some from "../components/Some.astro";
import Mainlayout from "../layout/Mainlayout.astro";
import Programover from "../components/Programover.astro";
import Singelview from "../components/Singelview.astro";



---

<Mainlayout>
		<main>
			<Some/>
			<Programover/>
			<Singelview/>
		</main>
	</Mainlayout>
