---
import Some from "../components/Some.astro";
import Mainlayout from "../layout/Mainlayout.astro";
import Programover from "../components/Programover.astro";


---

<Mainlayout>
		<main>
			<Some/>
			<Programover/>
			
		</main>
	</Mainlayout>
