---
import Some from "../components/Some.astro";
import Mainlayout from "../layout/Mainlayout.astro";
import Programover from "../components/Programover.astro";
import Programcard from "../components/Startcard.astro";


const response = await fetch("https://ufxyzjtigmlykumefcgd.supabase.co/rest/v1/info_clf", {
  method: "GET",
  headers: {
    apikey: 
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVmeHl6anRpZ21seWt1bWVmY2dkIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTYyNDk1MzgsImV4cCI6MjAxMTgyNTUzOH0.F3wAjQRKjGcS95jaCTSe1avoW27786oaeCRv69Qi4Aw"
  },
}
)
const data = await response.json();
import { Debug } from "astro/components";


---
 
<Mainlayout>
<main>
			<Some/>
<div class="luft"></div>
<div class="program">
<div class="track_2">
<p> &nbsp; PROGRAM &nbsp; 02.02-25.02 &nbsp; PROGRAM &nbsp; 02.02-25.02 &nbsp; PROGRAM &nbsp; 02.02-25.02 &nbsp; PROGRAM &nbsp; 02.02-25.02 &nbsp; PROGRAM &nbsp;  </p>

 </div>
 </div>
       <div class="exhibits_grid">
            {
    data.map((data) => {
      return (
      
			 <Programcard data={data} />
       
      )
    })
  }    
  </div>
		
    </main>
</Mainlayout>


