---

---
<script>
  var burgerMenu = document.getElementById("burger-menu");

var overlay = document.getElementById("menu");

burgerMenu.addEventListener("click", function () {
this.classList.toggle("close");
overlay.classList.toggle("overlay");
});
</script>

  <nav>
<div class="logo">
<a href="../pages/index"> <img src="../../src/imgs/asset@400x.webp" alt="img"></a>
      </div>
      <div id="burger-menu">
          <span></span>
      </div>

      <div id="menu">
          <ul>
              <li class="toforste"><a class="sider" href="/listeview">Opportunities</a></li>
              <li class="toforste"><a class="sider" href="/listeview">Program</a></li>
              <li id="sidste"><a class="sider" href="/listeview">About us</a></li>
          

          </ul>

      </div>
     
  </nav>


  <style>
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.logo img {

width: 130px;
height: 120px;
}
.logo{
display: inline-block;
width: 673px;
padding: 3%;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: -0.5%;
  left: 0%;
}

#burger-menu {
  cursor: pointer;
}

#menu ul {
  list-style: none;
 display: flex;
  
}

.toforste {
  margin-right: 50px; 
}

 #sidste {
  margin-right: 0px; 
}

#menu a {
  text-decoration: none;
 
}

#menu a:hover {
  color: #ff00ae; 
}

@media only screen and (max-width: 800px) {
  .logo img {
width: 65px;
height: 60px;
}

#burger-menu {
cursor: pointer;
height: 27px; 
width: 27px;
margin: 30px;
overflow: visible;
position: absolute;
z-index: 2001;
top: 0;
right: 0;
}
nav {

 position: absolute;
  top: 0%;
  left: 0%;
  max-width: 100%;
padding: 0;
}

#burger-menu span {
display: block;
height: 8px;
opacity: 1;
position: absolute;
transition: 0.3s ease-in-out;
}
#burger-menu span::before {
display: block;
height: 40px;
opacity: 1;
position: absolute;
transition: 0.3s ease-in-out;
}

#burger-menu span:before,
#burger-menu span:after {
content: "";
}

#burger-menu span:before {
  left: 15.5px;
  top: -16px;
  width: 7px;
  background: #cec828;
}

#burger-menu span {
  right: -16px;
  top: 3px;
  width: 37px;
  background: #cec828;
}



#burger-menu.close span:before {
  top: -16px;
  transform: rotate(-0deg);
  width: 8px;
  background: rgb(0,0,0);
}


#burger-menu.close span {
  transform: rotate(-45deg);
  top: 8px;
  width: 40px;
  background: rgb(0,0,0);
}



#menu {
z-index: 2000;
min-width: 100%;
min-height: 100%;
position: fixed;
top: 0;
height: 0;
visibility: hidden;
opacity: 0;
text-align: center;
padding-top: 20px;
transition: all 0.3s ease-in-out;
}

#menu.overlay {
visibility: visible;
opacity: 1;
padding-top: 100px;
background: #cec828;
}

#menu ul {
padding: 0;
flex-direction: column;
}

#menu li {
list-style: none;
font-family: "GT-Haptik-Regular";
margin-right: 0; 
  margin-bottom: 10px; 
}

#menu a {
color: #000;
display: block;
font-size: 30px;
margin-bottom: 30px;
text-decoration: none;
}
}
  </style>