 ---
 ---

 <div class="program">
        <div class="track">
            <p> &nbsp; PROGRAM &nbsp; PROGRAM &nbsp; PROGRAM &nbsp; PROGRAM &nbsp; PROGRAM &nbsp; PROGRAM&nbsp;
                PROGRAM &nbsp; PROGRAM &nbsp; PROGRAM
            </p>
        </div>
    </div>




    
    <style>

.program {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 147px;
  overflow-x: hidden;
  color: white;


}
@media only screen and (max-width: 700px) {
.program {
  position: relative;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  color: white;

  height: 48px;
  }
}

.program p{
font-size: 7cqw;
}


.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: program 20s linear infinite;

}

@keyframes program {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
</style>
