---
---


<main>
    <div class="grid_123">
        <div>
    <img src="../../src/imgs/asset@400x.png" alt="img1">
</div>
    <div>
        <h2>Jan Kuck (DE)</h2>
         <p>The installation consists of a glowing carpet, which can be seen as a comment on the conditions behind the global textile production industry and its trading relationships in both a historical and contemporary context. It also deals with the connection to the development of women’s rights. Weaving and textile work has historically been carried out mainly by women, while men have benefitted from it. In the present, women are suffering under harsh working conditions, while international textile companies, usually led by men, reap the rewards. On the one hand, this piece is a critique of patriarchal power structures, and on the other, it is a tribute to the strength of women.
            Jan Kuck is a Berlin-based artist. His conceptual art is characterised by his varied use of light. “ARACHNE” was exhibited as part of the Venice Biennale in 2016.
            </p></div>
    <div>
        <img src="../../src/imgs/asset@400x.png" alt="img1">
    </div>
    <div>
        <img src="../../src/imgs/asset@400x.png" alt="img1">
    </div>
  
</div>
     </main>


     <style>
.grid_123{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
p{
    color: hotpink;
}

     </style>