---
const text = Astro.props.text;
---
<article>
    <p>{text}</p>
<div id="some_grid">

    <div id="insta_div">
        <a href="https://www.instagram.com/cphlightfest/?hl=da"> <img id="insta_img" src="imgs/insta.svg"
                alt="instalogo"></a>

    </div>

    <div id="facebook_div">
        <a href="https://www.facebook.com/CopenhagenLightFestivalLive"><img id="facebook_img" src="imgs/facebook.svg"
                alt="facebooklogo"></a>
    </div>

    <div id="tiktok_div">
        <a href="https://www.tiktok.com/@copenhagenlightfestival"><img id="tiktok_img" src="imgs/tiktok.svg"
                alt="tiktoklogo"></a>
    </div>

</div>
</article>